#beerlevel{
    position: relative;
    left:0;
    right:0;
    width: 300px;
    bottom:111px;
    z-index: 1;
  }
#wave1{
    position: relative;
    top:89px;
    z-index: 2;
}
#wave2{
    position: relative;
    top:-65px;
    z-index: 0;
}
#wave3{
    position: relative;
    top:-219px;
    z-index: 1;
}
#bottle{
    overflow: hidden;
    position: fixed;
    height: 175px;
    width: 96px;
    bottom:36px;
    z-index: -1;
    right:100px;
    border-radius: 28px;
}
  #alcool{
    background: #ffcd56;
    position: absolute;
    width: 300px;
    top:0px;
    height: 300px;
    margin-top: 90px;
  }

  #bibine{
      width:250px;
      position: fixed;
      bottom:-30px;
      -webkit-filter: blur(0.4px);
  }
  #globalbibine{
      z-index: 99;
      position: fixed;
      right:250px;
  }

  body{
      min-height:180vh;
  }
  #background{
      position: fixed;
      height:100vh;
      width: 100%;
      background-image: url("../img/past.gif");
      background-size:cover;
      background-repeat: no-repeat;
      background-position: center center;
  }
  .titlewhite{
      color:white;
  }

  .vehicle1{
      position: fixed;
      bottom:145px;
      left:0px;
      width: 445px;      
    }

  .vehicle2{
      position: fixed;
      bottom:100px;
      right:150px;
      -webkit-filter: blur(0.8px);
      width: 400px;      
    }

    .vehicle3{
        position: fixed;
        bottom:100px;
        right:150px;
        -webkit-filter: blur(0.8px);
        width: 800px;      
      }

      .personnage1{
        position: fixed;
        bottom:232px;
        right:10%;
        width: 130px;      
      }

      .personnage2{
        position: fixed;
        bottom:232px;
        right:19%;
        width: 130px;      
      }


.timemachine{
    position: fixed;
    width: 100%;
    bottom:15px;
}
.timemachine .row{
    display: table;
    margin-left: auto;
    margin-right: auto;
}