/*
 * Doc CSS - Error 404
 */

body {
    background : url("background1.png");
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center center;
    min-height:94vh;
}

.cadeau{

    
}
